.estruturaSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font);

    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            width: 80%;
            font-size: clamp(1.25rem, -2.417rem + 7.333vw, 4rem);
            font-weight: 900;
            color: var(--orange);
            text-transform: uppercase;
            text-align: center;
        }

        .list{
            width: 100%;
            margin: 15px auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 25px;

            .card{
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                }
                p{
                    width: 80%;
                    font-size: clamp(1rem, 0.333rem + 1.333vw, 1.25rem);
                    background: var(--green-weak-2);
                    color: #ffffff;
                    padding: 10px 20px;
                    border-radius: 13px;
                    font-weight: 400;
                    strong{
                        font-weight: 700;
                    }
                    position: relative;
                    bottom: 30px;
                }
            }
        }
    }
}
@media(max-width: 1024px){
    .estruturaSection{
        .container{
            h2{
                width: 90%;
            }
            .list{
                .card{
                    width: 90%;
                    p{
                        width: 95%;
                    }
                }
            }
        }
    }
}