:root{
    --font: "Montserrat", sans-serif;

    /*colors*/
    --orange: #FF7800;
    --green-light: #1AAC1A;
    --green-weak: #3EB246;
    --green-weak-2: #4AC34A;
    --green-strong: #074E31;
    --black: #323232;
}