:root{
    --font: "Montserrat", sans-serif;

    /*colors*/
    --orange: #FF7800;
    --green-light: #1AAC1A;
    --green-weak: #3EB246;
    --green-weak-2: #4AC34A;
    --green-strong: #074E31;
    --green-font: #006736;
    --green-font-weak: #64E44B;
    --gradient-01: #4AC44A;
    --gradient-02: #005A32;
    --black: #323232;
}